[Desktop Entry]
Version=1.0
Type=Application
Name=QuteSQL
GenericName=SQL Database Manager
Comment=A simple SQL Database Manager based on Qt
TryExec=qutesql
Exec=qutesql %u
Icon=server-database
Categories=Development;Internet;
Terminal=false
